@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.texto-header {
    font-size: 0.5625rem;
}

.icone-user {
    background-color: #111527;
    color: white;
    border-radius: 50%;
    padding: 10px;
}

.text-card-ativo {
    font-size: 0.6rem;
    color: green;
}

.borda-card-ativo {
    border: 1px solid green;
    border-radius: 4px;
}

#circle {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
}

.text-menor {
    font-size: 0.5rem;
}

.mapa-container {
    position: relative;
    width: 100%;
    max-width: 1200px;
}

.mapa-img {
    width: 100%;
    display: block;
    border-radius: 20px;
}

.mapa {
    min-height: 242px;

    background-image: url("../assets/dashboard/mapa\ termico\ 1.png");
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem;
}

.overlay {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1.7rem;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.rodape {
    display: flex;
    justify-content: flex-end;
}

.btn {
    padding: 5px;
    height: 30px;
    width: 30px;
}

.text-rodape {
    font-size: 0.5rem;
}

.alerta {
    width: 6px;
    height: 6px;
    background-color: yellow;
}


.risco {
    width: 6px;
    height: 6px;
    background-color: red;
}

.text-14 {
    font-size: 0.736rem;
    color: orange;
}

.text-63 {
    font-size: 3.31rem;
    color: orange;
}

.text-32 {
    font-size: 2rem;
    color: orange;
}

.text-11 {
    font-size: 0.57rem;
}

.text-8 {
    font-size: 0.42rem
}

.p-8 {
    padding: 8px;
}

.text-orange {
    color: orange;
}

.text-red {
    color: red;
}

.border-bootom {
    border-bottom: 1px solid gray;
}

.bg-red {
    background-color: red;
}

.nav-flora {
    position: absolute;
    bottom: 0px;
    background-color: #111527;
    margin-top: 10px;
    border-radius: 15px;
    max-width: 400px;
}

.w-90 {
    width: 90%;
}

.table-responsive-custom {
    width: 100%;
    overflow-x: auto;
}

.h-md-100 {
    height: 100%;
}

@media (min-width: 768px) {
    .nav-flora {
        position: static;
        left: 0px;

        flex-direction: column;
        height: 100vh;
        width: auto;
    }
}